<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100">
  <div class="row">
    <div class="col-4">
      <img src="assets/logo_chico.png" alt="BigData" class="img-fluid w-100">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <h1 class="display-2">N.L. 4.0</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="display-4 text-justify text-med">
              Registro de Perfil de empresas TIC’s y de Medios Interactivos. (Tecnología y comunicación) 
          </h1>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-12">
      <img src="assets/bd.jpg" alt="BigData" class="img-fluid w-100">
    </div>
  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col">
      <p class="lead text-justify">
        Industria 4.0, cuarta revolución industrial y/o transformación digital son términos que refieren a  la evolución de la humanidad. Estos términos nos hablan de la conexión del mundo físico con el mundo virtual, de una fusión digital entre diversas disciplinas que garantizan la satisfacción del cliente y la personalización de servicio y/o productos. Hablamos de una revolución que une tecnologías digitales para permitir la creación de nuevos mercados y negocios así como la interacción entre agentes económicos. 
      </p>
      <p class="lead text-justify">
        Hablar de industria 4.0 es hablar de tecnologías como: Inteligencia Artificial, Robótica, Blockchain, Internet de las Cosas, Big Data, Realidad Aumentada o Virtual, la nube, simulaciones, materiales avanzados, manufactura aditiva, ciberseguridad, software...
      </p>
      <p class="lead text-justify">
        ¿Tu empresa se relaciona con esta fusión digital? Bienvenido a Nuevo León 4.0
      </p>
      <p class="lead text-center">
        ¡Registrate!
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6 text-right">
      <button class="btn btn-primary btn-w" (click)="routeTo('registro')">REGÍSTRATE</button>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
      <button  class="btn btn-info btn-w"  data-toggle="modal" data-target="#exampleModal">INICIA SESIÓN</button>
    </div>
  </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>