<app-navbar></app-navbar>
<hr>
<hr>

<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 m-auto" *ngIf="!cargando">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
      <a role="button" class="btn btn-outline-primary display-2" (click)="return()" data-toggle="tooltip" data-placement="top" title="Regresar">
        <mat-icon>arrow_back</mat-icon>
      </a> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
      <a class="display-2 btn btn-outline-primary" (click)="routerTo('/editar/empresa')" data-toggle="tooltip" data-placement="top" title="Editar">
        <mat-icon>edit</mat-icon>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="display-4 inline-icon">Mi empresa</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <strong>Datos básicos</strong>
              <ul>
                <li>
                    <em>Nombre empresa: </em>{{empresa.nombre}}
                </li>
                <li>
                    <em>Razón social: </em>{{empresa.razon_social}}
                </li>
                <li>
                    <em>RFC: </em>{{empresa.rfc}}
                </li>
              </ul>
            </div>
            <div class="col">
              <strong>Datos del contacto principal</strong>
              <ul>
                <li><em>Nombre completo: </em>{{empresa.nombre_contacto}}</li>
                <li><em>Puesto: </em>{{empresa.puesto_contacto}}</li>
                <li><em>Email: </em>{{empresa.email_contacto}}</li>
                <li><em>Teléfono: </em>{{empresa.telefono_contacto}}</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <strong>Fecha de creación</strong> {{fecha}}, {{desde}} se encuentra en el mercado
        </li>

        <li class="list-group-item">
          <strong>Ubicación de las oficinas:</strong>
          <div *ngIf="!nulldirs">
            <tabset>
              <tab *ngFor="let dir of direcciones; let pointIndex=index" heading="{{pointIndex+1}} - {{dir.tipo_sede}}">
                <ul>
                  <li><em>Dirección: </em>{{dir.direccion}}</li>
                  <li><em>Pais: </em>{{dir.pais}}</li>
                  <li><em>Estado: </em>{{dir.estado}}</li>
                  <li><em>Municipio: </em>{{dir.municipio}}</li>
                </ul>
                <br>
                <div class="row">
                  <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a role="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Editar esta dirección" routerLink='/editar/direcciones/{{dir.id}}' routerLinkActive='active'>
                        <mat-icon>edit</mat-icon>
                      </a>
                      <a role="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar esta dirección" routerLink='/eliminar/direccion/{{dir.id}}' routerLinkActive='active'>
                        <mat-icon>delete_forever</mat-icon>
                      </a>
                      <a role="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Agregar dirección" routerLink='/agregar/direccion' routerLinkActive='active'>
                        <mat-icon>add_box</mat-icon>
                      </a>
                    </div>
                  </div>
                </div>
                <br>
              </tab>
            </tabset>
          </div>

          <div class="text-center" *ngIf="nulldirs">
            <h1 class="lead">Sin direcciones registradas</h1>
            <a class="lead" data-toggle="tooltip" data-placement="top" title="Agregar dirección" routerLink='/agregar/direccion' routerLinkActive='active'>Añadir nueva dirección</a>
          </div>
        </li>

        <li class="list-group-item">
          <strong>Participación en la web</strong>
          <ul>
            <li><em>Sitio web:</em><br><a href="{{empresa.web}}">{{empresa.web}}</a></li>
            <li><em>Linked In:</em><br><a href="{{empresa.linkedin}}">{{empresa.linkedin}}</a></li>
            <li><em>Facebook:</em><br><a href="{{empresa.facebook}}">{{empresa.facebook}}</a></li>
            <li><em>Twitter:</em><br><a href="{{empresa.twitter}}">{{empresa.twitter}}</a></li>
            <li><em>Instagram:</em><br><a href="{{empresa.instagram}}">{{empresa.instagram}}</a></li>
          </ul>
        </li>

        <li class="list-group-item">
          <strong>Alcance territorial de la oferta de tus servicios.</strong>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  <em>Nacional (México)</em>
                  <ul class="list-group list-group-sm list-group-flush">
                    <li class="list-group-item" *ngFor="let estado of estados">{{estado}}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li>
                  <em>Internacional</em>
                  <ul class="list-group list-group-sm list-group-flush">
                    <li class="list-group-item" *ngFor="let pais of paises">{{pais}}</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <strong>Oferta valor de la organización</strong><br>
              <p class="text-justify">
                {{info_gnrl.descripcion_oferta_valor}}
              </p>
            </div>
            <div class="col">
              <strong>5 Principales clientes</strong>
              <p class="text-justify">
                {{info_gnrl.principales_clientes}}
              </p>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <strong>Sectores atendidos por la organización</strong><small>(Finanzas, Comercio, Industria, Servicios, Gobierno)</small>
          <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item" *ngFor="let sec of sectores_a">{{sec}}</li>
          </ul>
        </li>

        <li class="list-group-item">
          <strong>Organizaciones empresariales en las que participa</strong>
          <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item" *ngFor="let org of organizaciones">{{org}}</li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
<br><br>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 m-auto" *ngIf="cargando">
  <div class="row">
    <div class="col">
        <h1 class="lead">
          Cargando datos . . .
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>
</div>
<hr>
<br>
<app-footer></app-footer>