<app-navbar></app-navbar>
<hr>
<hr>

<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 m-auto">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Información de mi empresa</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item"><strong>Nombre empresa: </strong>{{empresa.nombre}}</li>
        <li class="list-group-item"><strong>Razón social: </strong>{{empresa.razon_social}}</li>
        <li class="list-group-item"><strong>RFC: </strong>{{empresa.rfc}}</li>
        <li class="list-group-item">
          <strong>Ubicación de las oficinas:</strong><a  class="btn ml-auto" role="button" data-toggle="modal" data-target="#modalAddDir"><mat-icon>add_circle_outline</mat-icon></a>
          <div>
            <tabset>
              <tab *ngFor="let dir of direcciones; let pointIndex=index" heading="{{pointIndex+1}} - {{dir.tipo_sede}}" id="tab1">
                <ul>
                  <li><em>Dirección: </em>{{dir.direccion}}</li>
                  <li><em>Pais: </em>{{dir.pais}}</li>
                  <li><em>Estado: </em>{{dir.estado}}</li>
                  <li><em>Municipio: </em>{{dir.municipio}}</li>
                </ul>
              </tab>
            </tabset>
          </div>
        </li>
        <li class="list-group-item"><strong>Sitio web: </strong><a href="{{empresa.web}}">{{empresa.web}}</a></li>
        <li class="list-group-item">
          <strong>Participación en las redes sociales</strong>
          <ul>
            <li><em>Linked In: </em><a href="{{empresa.linkedin}}">{{empresa.linkedin}}</a></li>
            <li><em>Facebook: </em><a href="{{empresa.facebook}}">{{empresa.facebook}}</a></li>
            <li><em>Twitter: </em><a href="{{empresa.twitter}}">{{empresa.twitter}}</a></li>
            <li><em>Instagram: </em><a href="{{empresa.instagram}}">{{empresa.instagram}}</a></li>
          </ul>
          <br>
          <div class="container">
            <div class="row text-center">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="{{empresa.linkedin}}"><img src="assets/linkedin.png" alt="" srcset=""></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="{{empresa.facebook}}"><img src="assets/facebook.png" alt="" srcset=""></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="{{empresa.twitter}}"><img src="assets/gorjeo.png" alt="" srcset=""></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <a href="{{empresa.instagram}}"><img src="assets/instagram.png" alt="" srcset=""></a>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item"><strong>Fecha de creación </strong> {{fecha}} <strong>- {{desde}} se encuentra en el mercado </strong></li>
        <li class="list-group-item">
          <strong>Datos del contacto principal</strong>
          <ul>
            <li><em>Nombre completo: </em>{{empresa.nombre_contacto}}</li>
            <li><em>Puesto: </em>{{empresa.puesto_contacto}}</li>
            <li><em>Email: </em>{{empresa.email_contacto}}</li>
            <li><em>Teléfono: </em>{{empresa.telefono_contacto}}</li>
          </ul>
        </li>
        <li class="list-group-item">
          <strong>Cobertura</strong>
            <ul>
              <li>
                <em>Nacional (México)</em>
                <ul class="list-group list-group-horizontal-sm">
                  <li class="list-group-item" *ngFor="let estado of estados">{{estado}}</li>
                </ul>
              </li>
              <li>
                <em>Internacional</em>
                <ul class="list-group list-group-horizontal-sm">
                  <li class="list-group-item" *ngFor="let pais of paises">{{pais}}</li>
                </ul>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal Login -->
<div class="modal fade bd-example-modal-lg" id="modalAddDir" tabindex="-1" role="dialog" aria-labelledby="modalAddDirLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddDirLabel">Agregar dirección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-form-direcciones></app-form-direcciones>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>