<app-navbar></app-navbar>
<hr>
<hr>

<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 m-auto" *ngIf="!cargando">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
      <a role="button" class="btn btn-outline-primary display-2" (click)="return()" data-toggle="tooltip" data-placement="top" title="Regresar">
        <mat-icon>arrow_back</mat-icon>
      </a> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="display-4 inline-icon">Actualizar dirección</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <form [formGroup]="dirForm" (ngSubmit)="update()">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-8">
            <mat-form-field class="w-100">
              <input matInput placeholder="Dirección" formControlName="direccion">
            </mat-form-field>
            <div *ngIf="dirForm.get('direccion').errors&&dirForm.get('direccion').dirty">
              <p *ngIf="dirForm.get('direccion').hasError('maxlength')" class="text-danger">Máximo 150 caracteres</p>
              <p *ngIf="dirForm.get('direccion').hasError('required')" class="text-danger">Este campo requerido</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-4">
            <mat-form-field class="w-100">
              <mat-label>Tipo de sede</mat-label>
              <mat-select formControlName="tipo_sede" class="md-select-menu-container">
                <mat-option *ngFor="let ts of tipo_sede" [value]="ts.id_cat_sede">{{ts.tipo_sede}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="dirForm.get('tipo_sede').errors&&dirForm.get('tipo_sede').dirty">
              <p *ngIf="dirForm.get('tipo_sede').hasError('required')" class="text-danger">Este campo requerido</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="w-100">
              <mat-label>País</mat-label>
              <mat-select formControlName="pais" class="md-select-menu-container">
                <mat-option *ngFor="let pais of paises" [value]="pais.nombre">{{pais.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="dirForm.get('pais').errors&&dirForm.get('pais').dirty">
              <p *ngIf="dirForm.get('pais').hasError('required')" class="text-danger">Este campo requerido</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="w-100">
              <mat-label>Estado / Provincia / Departamento</mat-label>
              <mat-select formControlName="estado" (selectionChange)="getMunicipio()" class="md-select-menu-container">
                <mat-option *ngFor="let estado of estados" [value]="estado.id_estado">{{estado.nombre_estado}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <mat-form-field class="w-100">
              <!--<input matInput placeholder="Municipio" formControlName="municipio">-->
              <mat-label>Municipio</mat-label>
              <mat-select formControlName="municipio" class="md-select-menu-container">
                <mat-option *ngFor="let municipio of municipios" [value]="municipio.nombre_municipio">{{municipio.nombre_municipio}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="dirForm.get('municipio').errors&&dirForm.get('municipio').dirty">
              <p *ngIf="dirForm.get('municipio').hasError('required')" class="text-danger">Este campo requerido</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-success" style="margin-left: 10px; width: 100px;" [disabled]="dirForm.invalid">Actualizar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-left">
            <small class="text-danger"><strong>* TODOS LOS CAMPOS SON REQUERIDOS <br> **POR EL MOMENTO SOLO DISPONIBLE MÉXICO</strong></small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br><br>

<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 m-auto" *ngIf="cargando">
  <div class="row">
    <div class="col">
        <h1 class="lead">
          Cargando datos . . .
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>
</div>

<hr>
<br>
<app-footer></app-footer>