<app-navbar></app-navbar>
<br><br>
<div class="container shadow-lg p-3 mb-5 mt-5 bg-white rounded w-100 m-auto">
  <div class="row">
    <div class="col">
      <h1 class="display-4">SITIO EN CONSTRUCCIÓN</h1>
    </div>
  </div>
  <br>
  <div class="row ">
    <div class="col-12">
      <div class="text-center">
        <img src="assets/en-construcion.png" alt="Bajo construcción" class="img-fluid mx-auto">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center">
      <h1 class="lead">Pronto estará en linea.</h1>
    </div>
  </div>
</div>
<hr>
<br>
<app-footer></app-footer>

<app-form-direcciones></app-form-direcciones>